.company-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  padding-top: 40px;

  box-shadow: none;
  transition: box-shadow 0.3s linear;

  &__logo {
    width: 80%;
    margin: 0 auto 40px;
    height: 200px;
  }

  &__info {
    padding: 20px 20px 20px 60px;
  }

  &__name {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  &__description {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
  }
}

.company-card:hover {
  box-shadow: 0 0 20px black;
  transition: box-shadow 0.3s linear;
}
