.footer {
  background-color: var(--main-color);
  min-height: 60px;
  display: flex;
  align-items: center;

  &__text {
    color: var(--second-color);
    font-size: 24px;
    padding-left: 20px;
  }
}
