<div class="container">
  <div class="company" *ngIf="company !== undefined">
    <div class="company__info">
      <div class="company__about">
        <h1 class="company__title">{{company.business_name}}</h1>
        <p class="company__description company__catch">{{company.catch_phrase}}</p>
        <p class="company__description">{{company.industry}}</p>
        <a href="tel:{{company.phone_number.split('-')}}"
           class="company__description company__link">
          {{company.phone_number}}
        </a>
        <p class="company__description">{{company.full_address}}</p>
      </div>
      <img class="company__logo" [src]="company.logo" alt="Company logo">
    </div>
    <div class="company__map">
      <ya-map [center]="[company.latitude, company.longitude]" [zoom]="8">
        <ya-placemark [geometry]="[company.latitude, company.longitude]"></ya-placemark>
      </ya-map>
    </div>
  </div>
</div>
