<div class="container">
  <div class="company-form radial--bg">
    <form class="form company-form__form" [formGroup]="form" (ngSubmit)="onFormSubmit()">
      <ul class="company-form__list">
        <li class="company-form__item">
          <label class="company-form__label" for="name">Company Name:</label>
          <input class="company-form__input" type="text"
                 name="name" id="name"
                 formControlName="name"
                 required
                 [maxLength]="15"
          >
          <div class="company-form__errors"
               *ngIf="name?.invalid && (name?.touched || name?.dirty)"
          >
            <span class="company-form__error"
                  *ngIf="name?.errors?.['required']"
            >
              Field is required
            </span>
          </div>
        </li>
        <li class="company-form__item">
          <label class="company-form__label" for="activity">Typy of Activity:</label>
          <select class="company-form__input"
                  name="activity" id="activity"
                  formControlName="activity"
                  required
          >
            <option value="forest">Лесоводство и лесозаготовки</option>
            <option value="coal">Добыча угля</option>
            <option value="furniture">Производство мебели</option>
            <option value="science">Научные исследования и разработки</option>
            <option value="public">Деятельность общественных организаций</option>
          </select>
          <div class="company-form__errors"
               *ngIf="activity?.invalid && (activity?.touched || activity?.dirty)"
          >
            <span class="company-form__error"
                  *ngIf="activity?.errors?.['required']"
            >
              Field is required
            </span>
          </div>
        </li>
        <li class="company-form__item">
          <label class="company-form__label" for="russian">Is on russian market:</label>
          <input class="company-form__input" type="checkbox"
                 name="name" id="russian"
                 formControlName="russian"
          >
        </li>
        <li class="company-form__item">
          <button class="btn company-form__btn"
                  type="submit"
                  [disabled]="(name?.invalid || activity?.invalid)"
          >Create</button>
        </li>
      </ul>
    </form>
  </div>
</div>
