//.background-wrapper {
//  height: 100vh;
//  background-size: contain;
//  background: url("../../../../../assets/login_bg.jpg") no-repeat center;
//}

.login-form {
  width: 350px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -225px;
  margin-left: -175px;

  &__logo {
    width: 120px;
    position: absolute;
    left: calc(50% - 60px);
    top: -60px;
  }

  &__label {
    margin-bottom: 3px;
    align-self: flex-start;
    padding-left: 9%;
  }

  &__input {
    margin-bottom: 10px;
    width: 80%;
    height: 6%;
    border-radius: 7px;
  }

  &__btn {
    width: 82%;
    border-radius: 7px;
  }
}
