<div class="container">
  <div class="login-form radial--bg">
    <img src="../../../../../assets/person_login.png" alt="Login logo" class="login-form__logo">
    <form class="form login-form__form" [formGroup]="form" (ngSubmit)="onLoginClick()">
      <ul class="login-form__list">
        <li class="login-form__item">
          <label class="login-form__label" for="email">Email:</label>
          <input class="login-form__input" type="text" name="email" id="email"
                 formControlName="email"
          >
          <app-input-error [input]="email"></app-input-error>
        </li>
        <li class="login-form__item">
          <label class="login-form__label" for="password">Password:</label>
          <input class="login-form__input" type="password" name="password" id="password"
                 formControlName="password"
          >
          <app-input-error [input]="password"></app-input-error>
        </li>
        <li class="login-form__item">
          <button class="btn login-form__btn" type="submit" [disabled]="form.invalid">Login</button>
        </li>
      </ul>
    </form>
  </div>
</div>
