.companies {
  &__form {
    display: flex;
    font-size: 24px;
    font-weight: 500;
    border-radius: 5px;
  }

  &__query {
    margin-right: 10px;
    width: 20%;
    border-radius: inherit;
  }

  &__search {
    margin-right: 10px;
    border: 1px solid black;
    width: 100%;
    border-radius: inherit;
  }

  &__btn {
    font-size: 18px;
    border-radius: 5px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &__card {
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s linear;
  }

  &__card:hover {
    box-shadow: 0 0 20px var(--main-color);
    transition: box-shadow 0.3s linear;
  }
}
