.companies {

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &__card {
    box-sizing: border-box;
    // TODO remove outline
    outline: 2px solid aquamarine;
  }
}
