.companies {

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &__card {
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s linear;
  }

  &__card:hover {
    box-shadow: 0 0 20px black;
    transition: box-shadow 0.3s linear;
  }
}
