@use "reset";
@import 'ngx-toastr/toastr';

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

[main] {
  min-height: 100%;
}

[footer] {
  height: 60px;
  margin-top: -60px;
}

:root {
  --main-color: #000;
  --second-color: #fff;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.btn {
  padding: 10px 40px;
  background-color: var(--main-color);
  color: var(--second-color);
  cursor: pointer;
  transition: background-color 0.3s linear, color 0.3s linear;
  border-radius: 7px;
}

.btn:hover,
.btn:focus {
  color: var(--main-color);
  background-color: var(--second-color);
  transition: background-color 0.3s linear, color 0.3s linear;
}

.btn:focus {
  color: var(--main-color);
  background-color: var(--second-color);
  transition: background-color 0.3s linear, color 0.3s linear;
}

.btn:active {
  color: var(--main-color);
  background-color: var(--second-color);
  transition: background-color 0.3s linear, color 0.3s linear;
}

.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
}

.radial--bg {
  background: content-box radial-gradient(var(--second-color), rgba(0, 0, 0, 0.5));
  border-radius: 15px;
}

.error {
  position: absolute;
  font-size: 14px;
  color: crimson;
  margin: 0 auto;
  padding-left: 10px;
}
